/* Reset margin and apply system font stack */
body {
  margin: 0;
  font-family:
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Fira Sans",
          "Droid Sans",
          "Helvetica Neue",
          sans-serif;

  /* Improve font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code font stack */
code {
  font-family:
          "Source Code Pro",
          Menlo,
          Monaco,
          Consolas,
          "Courier New",
          monospace;
}
